@import 'tailwindcss';
@plugin "daisyui";

@font-face {
  font-family: 'Hanazome';
  src: url('/hanazome.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Hanazome';
}

.news-content figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em 0;
}

.news-content figure img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.news-content figure figcaption {
  width: 100%;
  text-align: left;
  margin-top: 0.5em;
}
