html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Hanazome', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
}

@font-face {
  font-family: 'Hanazome';
  src: url('hanazome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #555;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.container img {
  max-width: 150px;
  height: auto;
}

.joke {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 300px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  word-wrap: break-word;
}

.joke:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.joke:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: baseline;/* これにするをボタンの上下配置がよくなったよ！！やったね！！ */
  gap: 20px;
  margin: 20px 0;
}

.news {
  font-family: 'Hanazome', sans-serif;
  text-align: left;
}

.about-text {
  font-size: 18px;
  line-height: 2.0;
  color: #333;
  text-align: center;
  margin: 30px auto 100px auto;
  max-width: 70%;
}

.animal-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.animal-item {
  text-align: center;
}

.animal-image {
  width: 250px;
  height: auto;
  margin: 10px;
}

.animal-caption {
  margin-top: 5px;
  font-size: 24px;
  color: #555;
}

.line-image,
.suzuri-image {
  width: 300px;
  height: auto;
  margin: 10px 0;
  object-fit: cover;
}
